*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.gap-12{
    gap: 12px;
}

.gap-32{
    gap: 32px;
}

.gap-16{
    gap: 16px;
}


.w-20{
    width: 20%;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.card{
    background-color: gray;
    border-radius: 15px;
    padding: 12px;
}


.bg-black{
    background-color: black;
    color: white;
    padding: 10px;
}